.itemBackground
{
    -fx-font-family: "Courier New";
    -fx-font-size: 14px;
    -fx-background-color: white;
    -fx-max-width: 400px;
    /*-fx-pref-width: 300px;*/
    /*-fx-pref-height: 200px;*/
    -fx-max-height: 180px;
    /*-fx-pref-height: 80px;*/
    -fx-background-radius: 5px;
    /*-fx-border-width: solid 2px;*/
    -fx-border-color: #5d5858;
}
/*.nameFont*/
/*{*/
/*    -fx-font-family: "Times New Roman";*/
/*    -fx-font-size: 16px;*/
/*}*/
.btnControl
{
    -fx-pref-width: 70px;
    -fx-background-color: #8d938d;
}