.bgAnchorPane
{
    -fx-background-color: #c1bcbc;
}
.btnSearch
{
    /*-fx-background-color: red;*/
    -fx-background-radius: 5px;
}
/*.btnFunction*/
/*{*/
/*    -fx-background-color: blue;*/
/*}*/
.card {
    -fx-background-color: #fff;
    -fx-background-radius: 10px;
    -fx-border-color: #ccc;
    -fx-border-width: .5px;
    -fx-padding: 10px;
}
.itemBackground
{
    -fx-background-color: white;
    -fx-max-width: 200px;
    -fx-max-height: 150px;
    -fx-border-color: blue;
    /*-fx-pref-width: 100px;*/
    /*-fx-pref-height: 80px;*/
}
